<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content>

  <div class="overlay"></div>
  <!-- <div class="container"> -->
  <!-- <img class="cover" src="../../assets/Coronal_mass_ejections_for--1400x800.jpeg" alt=""> -->
  <!-- <h1 class="ion-text-center" style="color: #fff;">Solar Storms </h1> -->

  <!-- </div> -->

  <div class="counter">
    <div>
      <p>Year :</p>
      <p>01 :</p>
    </div>
    <div>
      <p>Month :</p>
      <p>06 :</p>
    </div>
    <div>
      <p>Days</p>
      <p>13</p>
    </div>
  </div>
</ion-content>
